# MainQuest02_가랏 몬스터볼! 전설의 포켓몬 찾아 삼만리

### 1-3. 포켓몬, 그 데이터는 어디서 구할까?  
[Kaggle] Pokemon with stats: https://www.kaggle.com/datasets/abcsds/pokemon

### 1-4. 포켓몬 데이터 불러오기

- 라이브러러리 가져오기

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
print('슝=3')

슝=3

- 데이터셋을 pandas로 불러오기

In [ ]:
import os
original_data = pd.read_csv('Pokemon.csv')
print('슝=3')

슝=3

- pokemon 변수에 데이터를 저장  
(원본데이터와 구분)

In [ ]:
pokemon = original_data.copy()
print(pokemon.shape)
pokemon.head()

(800, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

- Legendary == True 값을 가지는 [레전드 포켓몬] 데이터셋은 [legendary]변수에,  
Legendary == False 값을 가지는 [일반 포켓몬] 데이터셋은 [ordinary] 변수에 저장

In [ ]:
# 전설의 포켓몬 데이터셋
legendary = pokemon[pokemon["Legendary"] == True].reset_index(drop=True)
print(legendary.shape)
legendary.head()

(65, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
1,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
2,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
3,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
4,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [ ]:
# 일반 포켓몬 데이터셋
ordinary = pokemon[pokemon['Legendary'] == False].reset_index(drop=True)
print(ordinary.shape)
ordinary.head()

(735, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### 1-5. 전설의 포켓몬? 먼저 샅샅이 살펴보자! (1) 결측치와 전체 칼럼

- 결측치 확인하기

In [ ]:
pokemon.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

- 전체 컬럼 이해하기

In [ ]:
print(len(pokemon.columns))
pokemon.columns

13

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

| Column Name | Data Type | Meaning (Korean)   |
|------------|-----------|-------------------|
| #          | int64     | 포켓몬 번호         |
| Name       | object    | 포켓몬 이름         |
| Type 1     | object    | 첫 번째 속성        |
| Type 2     | object    | 두 번째 속성        |
| Total      | int64     | 능력치 총합         |
| HP         | int64     | 체력 (HP)          |
| Attack     | int64     | 공격력             |
| Defense    | int64     | 방어력             |
| Sp. Atk    | int64     | 특수공격력         |
| Sp. Def    | int64     | 특수방어력         |
| Speed      | int64     | 속도               |
| Generation | int64     | 등장 세대          |
| Legendary  | bool      | 전설 여부          |